<!-- <a class="navbar-brand" routerLink="home"><img src="https://i.postimg.cc/jj4Bzdh1/chefmain.png" alt="LOGO" height="50">Parlez Entrée</a> -->
<h3 *ngIf='error'> UserEmail or Password Incorrect</h3>
<div id="main-login-box">
    <img src="https://i.postimg.cc/jj4Bzdh1/chefmain.png" alt="LOGO" height="150">
    <form id="login" (ngSubmit)="onSubmit()">
        <div class="input-div">
            <input id="username" name="username" type="text" placeholder="User Email" required [(ngModel)]="userEmail">
            <!--  -->
        </div>
        <div class="input-div">
            <input id="password" name="password" type="password" placeholder="Password" required [(ngModel)]="password">
            <!--  -->
        </div>
        <input id="button" type="submit" value="Login" />

    </form>
    <p style="font-size: 'larger'">Not registered? </p>
    <a id="link" (click)="navigateRegister()">Create a new account</a>
</div>