<!-- <p>joke works!</p> -->

<main>
    <div class = "joke">
        <h1>Jokes :</h1>
    </div>
    <section>
        <div class = "joke-message">
            <!-- Only Placeholder for joke header -->

            <h6>{{ joketext }}</h6>
            </div>
    </section>

    <div class = "trivia">
        <h1>Trivia :</h1>
    </div>
    <section>
        <div class = "trivia-message">
            <!-- Only Placeholder for trivia header -->

            <h6>{{ triviatext }}</h6>
            </div>
    </section>
</main>
