<div id="main-register-box">
    <img src="https://i.postimg.cc/jj4Bzdh1/chefmain.png" alt="LOGO" height="110" style="margin-bottom: 10px">
    <h4>Create An Account</h4>
    <form id="Create">
        <div class="input-div">
            <input class="input-feild" id="firstname" name="firstname" type="text" placeholder="First Name" required [(ngModel)]="firstName">

        </div>
        <div class="input-div"><input class="input-feild" id="lastname" name="lastname" type="text" placeholder="Last Name" required [(ngModel)]="lastName">
        </div>
        <div class="input-div"><input class="input-feild" id="username" name="username" type="text" placeholder="User Name" required [(ngModel)]="userName">
        </div>
        <div class="input-div"><input class="input-feild" id="Email" name="Email" type="email" placeholder="Email" required [(ngModel)]="emailId">
        </div>
        <div class="input-div"><input class="input-feild" id="contactnumber" name="contactnumber" type="phone" placeholder="(000)-000-0000" required [(ngModel)]="contactNo">
        </div>
        <div class="input-div"><input class="input-feild" id="password" name="password" type="password" placeholder="Password" required [(ngModel)]="userPassword">
        </div>
        
        <input id="button" (click)="onSubmit()" type="submit" value="Create" />

    </form>
    <div id="not-regi">
    <h6>Have an account? 
    <a id="link" (click)="navigateLogin()">Login here!</a></h6></div>
</div>